.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
    color: black;
}

.product-swiper .swiper-button-next:after,
.product-swiper .swiper-button-prev:after {
    font-size: 24px;
    font-weight: bold;
}